* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--first-color);

}

::-webkit-scrollbar {
    display: none;
}

/* Navigation
 ------------------------------------------------ */
nav {
    z-index: 99;
    display: inline;
}

nav ul {
    width: 100vw;
    text-align: left;
    padding-top: 20px;
    position: relative;
    left: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--second-color);
    transition: 1s;

}

nav ul li span {
    color: var(--second-color);
}

/* Main containers
 ------------------------------------------------ */
.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wrapper {
    width: fit-content;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.slide {
    width: fit-content;
    height: 100vh;
    background-color: var(--first-color);

}

/* Events
 ------------------------------------------------ */

#events {
    width: fit-content;
    height: 4px;
    background-color: var(--second-color);
    margin-top: 99vh;
}

.event {
    height: 100px;
    width: 2px;
    background-color: var(--second-color);
    margin-top: -46px;
    border-radius: 20% 20% 0 0;
}

.event1 {
    transform: translateY(-100px);
    margin-left: 2000px;
}

.event2 {
    transform: translateY(-154px);
    margin-left: 2600px;
}

.event3 {
    transform: translateY(-208px);
    margin-left: 2950px;
}

.event4 {
    transform: translateY(-262px);
    margin-left: 3450px;
}

.event5 {
    transform: translateY(-316px);
    margin-left: 3750px;
}

.event6 {
    transform: translateY(-370px);
    margin-left: 4150px;
}

.event7 {
    transform: translateY(-424px);
    margin-left: 4550px;
}

/* Content of events
 ------------------------------------------------ */

.content {
    position: relative;
    top: -300px;
    width: 300px;
    height: 100px;
    visibility: hidden;
    color: var(--second-color);
}

.content h1 {
    color:
        var(--third-color);
}

.content1 {
    visibility: hidden;
}

.content2 {
    visibility: hidden;
}

.content3 {
    visibility: hidden;
}

/* Progress bar
 ------------------------------------------------ */

#progress {
    width: 410px;
    height: 5px;
    background-color: var(--third-color);
    margin-left: -2000px;
    z-index: 10;
    margin-top: -0px;
}

/* Main name and scroll animation
 ------------------------------------------------ */

#name {
    color: var(--first-color);
    position: absolute;
    top: 200px;
    left: 400px;
    font-size: 100px;
    -webkit-text-stroke: 2px var(--second-color);
    user-select: none;

}

#name #firstName {
    color: var(--second-color);
}

#scroll-icon {
    width: 40px;
    height: 70px;
    border: 1px solid var(--third-color);
    border-radius: 25px;
    position: absolute;
    top: 370px;
    left: 750px;
}

#scroll-circle {
    position: absolute;
    left: 17.5px;
    top: 10px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--third-color);
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll-ani;
}

/* End of the page
 ------------------------------------------------ */

.end {
    transform: translateY(-500px);
    margin-left: 5050px;
    margin-right: 500px;
    color: var(--second-color);
    font-size: 40px;
    margin-right: 1100px;
}

/* Responsivity
 ------------------------------------------------ */

@keyframes scroll-ani {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        top: 50px;
    }
}

@media (max-width: 952px) {
    .outer-wrapper {
        transform: rotate(0deg) translateX(0vh);
        height: 100vh;
        overflow-x: hidden;
    }

    .slide {
        height: 5000px;
        overflow-x: hidden;
    }

    .content {
        transform: rotate(270deg);
        top: -200px;
        left: -100px;
        width: 200px;
        font-size: 15px;
    }

    nav ul {
        transform: rotate(270deg);
        top: 150px;
        left: -445px;
    }

    #name {
        transform: rotate(270deg);
        width: 400px;
        top: 650px;
        left: 210px;
        font-size: 63px;
    }

    #scroll-icon {
        display: none;
    }

    .event1 {
        margin-left: 1300px;
    }

    .event2 {
        margin-left: 1900px;
    }

    .event3 {
        margin-left: 2250px;
    }

    .event4 {
        margin-left: 2750px;
    }

    .event5 {
        margin-left: 3050px;
    }

    .event6 {
        margin-left: 3450px;
    }

    .event7 {
        margin-left: 3850px;
    }

    .event1 #progress {
        margin-left: -1300px;
    }

    .end {
        transform: translateY(-300px);
        transform: rotate(270deg);
        margin-top: -270px;
        margin-left: 4300px;
    }

}

@media (max-width: 430px) {
    #name {
        top: 480px;
    }

    nav ul {
        top: 300px;
        left: -175px;
    }
}

@media (max-width: 380px) {
    #name {
        top: 340px;
        left: 55px;
        font-size: 55px;
    }

    nav ul {
        top: 200px;
    }

    .content {
        top: -160px;
    }

    .content h1 {
        font-size: 20px;
    }

    .content p {
        font-size: 10px;
    }

    .end {
        margin-top: -230px;
    }
}

@media (max-width: 370px) {
    #name {
        top: 390px;
    }

    nav ul {
        top: 250px;
        left: -150px;
    }

}