@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.light-mode {
    --first-color: rgb(225, 229, 244);
    --first-color-darker: rgb(196, 199, 207);
    --second-color: rgb(19, 26, 43);
    --third-color: rgb(0, 170, 255);
}

:root {
    --first-color: rgb(19, 26, 43);
    --first-color-darker: rgb(13, 18, 29);
    --second-color: rgb(229, 233, 245);
    --second-color-darker: rgb(161, 161, 163);
    --third-color: rgb(115, 255, 0);
}